body {
	font: 14px/1.35em Arial, Helvetica, sans-serif;

	background-color: rgb(190, 190, 190);
}

.poster-mod { 
	height: 200px;
	width: 150px;
	overflow: hidden;
}
	.poster {
		height: 200px;
		width: 150px;
		overflow: hidden;

		background-position: center center;
		background-size: 200px auto;
		-webkit-backface-visibility: hidden;
	}

.front {
	z-index: 1000;
}

.back {
	z-index: 1;
	display: none;
	-webkit-transform: rotateY(180deg)
}