<!doctype html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico"> 
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css">

	{% block header %}
	<title>Welcome</title>
	{% endblock %}

</head>
<body>
	{% block content %}
		Main content
	{% endblock %}

	{% block scripts %}
	<script src="{{ STATIC_URL }}/js/jquery/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}/js/classie/classie.js"></script>
	<script src="{{ STATIC_URL }}/js/eventEmitter/EventEmitter.min.js"></script>
	<script src="{{ STATIC_URL }}/js/eventie/eventie.js"></script>
	<script src="{{ STATIC_URL }}/js/doc-ready/doc-ready.js"></script>
	<script src="{{ STATIC_URL }}/js/get-style-property/get-style-property.js"></script>
	<script src="{{ STATIC_URL }}/js/jquery-bridget/jquery.bridget.js"></script>
	<script src="{{ STATIC_URL }}/js/matches-selector/matches-selector.js"></script>
	<script src="{{ STATIC_URL }}/js/get-size/get-size.js"></script>
	<script src="{{ STATIC_URL }}/js/packery/js/rect.js"></script>
	<script src="{{ STATIC_URL }}/js/packery/js/item.js"></script>
	<script src="{{ STATIC_URL }}/js/packery/js/packer.js"></script>
	<script src="{{ STATIC_URL }}/js/packery/js/packery.js"></script>
	<script src="{{ STATIC_URL }}/js/jquery.transit/jquery.transit.js"></script>
	<script src="{{ STATIC_URL }}/js/main.js"></script>
	{% endblock %}
</body>
</html>